<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @whiskey.name %>
</p>

<p>
  <b>Description:</b>
  <%= @whiskey.description %>
</p>

<p>
  <b>Stocked:</b>
  <%= @whiskey.stocked %>
</p>

<p>
  <b>Cost:</b>
  <%= @whiskey.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @whiskey.price %>
</p>


<%= link_to 'Edit', edit_whiskey_path(@whiskey) %> |
<%= link_to 'Back', whiskeys_path %>
